<div class="fondo">
    <app-btn-volver></app-btn-volver>
<div class="container" >
    <div class="row" style="margin-top: 20px">
    
     <div class="column"></div>
 <div class="column" style="text-align:center; color:rgb(255, 251, 4)" >
     <h1>
         La palabra secreta es {{mascara}}
     </h1>
     <img
            width="250"
            alt="image"
            src={{vidaImagen}}
        >
     
 </div>
 <div class="column">
    <h3 *ngIf="vidas==0"style="text-align: right; float: right; color:rgb(255, 251, 4)" >No te quedan mas vidas</h3>
     <h3 *ngIf="vidas>0" style="text-align: right; float: right; color:rgb(255, 251, 4)" >Te quedan: {{vidas}}  Vidas</h3>
 </div>
</div>
 <h2 style="padding: 60px; text-align: center; color:rgb(255, 251, 4)">{{mensaje}}</h2>

 <div class="row" style="text-align:center">

     <div
         class="column"
         style="min-width: 30%; max-height: 80px; margin-bottom: 160px;">
         <label *ngIf="this.juegoOn" style="margin-right: 10px;color:rgb(255, 251, 4)"><h2>Elegí una letra</h2></label>
        <br>
         <div  *ngFor="let obj of abecedario" class="padre">
            <button *ngIf="this.juegoOn" class="tecla" (click)="letraElegida(obj)" > {{obj}} </button>
        </div>
      
        <div>
         
         <button
          
         class="btn btn-danger"
         role="button"
         style="margin-right: 5px;color:rgb(255, 251, 4);    margin-left: 30px;" (click)="reiniciar()"
     >Volver A Intentarlo</button>
     </div>

    </div>

     <div 
         class="column"
         style="min-width: 50%; text-align: left; max-height: 80px;color:rgb(255, 251, 4);"
     >
        
         <h1 style="   margin-left: 34%;">Ya usaste las letras: <br>{{letrasUsadas}}</h1>
     </div>
 </div>
</div>
<div id="snackbar">{{Mensaje}}</div>
</div>